@import url("./fonts.css");

@tailwind base;

@layer base {
  /* Webkit shows a light blue background when tapping elements on touch
     devices. Looks janky. */
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-neutral-50 text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100;
    /* Tailwind doesn't apply the normal font weight by default */
    @apply font-normal;
    /* Brave injects rules for body for sidebars, They override Tailwind's text size and font family. */
    @apply text-base font-sans;
  }
  }
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-circle {
    clip-path: circle(49%);
  }
  .clip-circle-40 {
    clip-path: circle(40%);
  }
  .clip-circle-39 {
    clip-path: circle(39%);
  }
  .clip-circle-33 {
    clip-path: circle(33%);
  }
}
