@import url("./fonts.css");

@tailwind base;

@layer base {
  /* Webkit shows a light blue background when tapping elements on touch
     devices. Looks janky. */
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-neutral-50 text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100;
    /* Tailwind doesn't apply the normal font weight by default */
    @apply font-normal;
    /* Brave injects rules for body for sidebars, They override Tailwind's text size and font family. */
    @apply text-base font-sans;
  }

  /* Focus style is used in lots of places, and we want the same style for
     consistency, so seems worthwhile to do it once here. */
  *:focus {
    @apply outline-none;
  }
  *:focus-visible {
    @apply outline-none outline-dashed outline-offset-4 outline-logo-background rounded-md;
  }

  dialog {
    /* dialog has a white background by default, but we use it in a non-modal
       way, so don't want a background. */
    background: none;
  }
}

@tailwind components;

@layer components {
  .bg-default {
    @apply bg-neutral-50 dark:bg-neutral-900;
  }
}

@tailwind utilities;

@layer utilities {
  .clip-circle {
    clip-path: circle(49%);
  }
  .clip-circle-44 {
    clip-path: circle(44%);
  }
  .clip-circle-40 {
    clip-path: circle(40%);
  }
  .clip-circle-37 {
    clip-path: circle(37%);
  }
  .animate-delay-800 {
    animation-delay: 800ms;
  }
}
